.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: gray;
}

.empty-state img {
  width: 150px;
  margin-bottom: 20px;
}
.empty-state p {
  font-size: 1.2rem;
}