<div class="app-container" [class.dark-mode]="darkMode">
  <todo-header 
    (searchClicked)="onSearchClicked($event)"
    (filterChanged)="onFilterChanged($event)"
    (toggleDarkMode)="toggleDarkMode()">
  </todo-header>

  <empty-state *ngIf="filteredTasks.length === 0"></empty-state>

  <app-task-list
    *ngIf="filteredTasks.length > 0"
    [tasks]="filteredTasks"
    (deleteTask)="deleteTask($event)"
    (editTask)="updateTask($event)">
  </app-task-list>

  <button class="fab" (click)="showModal = true">
    <i class="fas fa-plus"></i>
  </button>

  <add-task-modal 
    *ngIf="showModal" 
    (close)="showModal = false" 
    (addTask)="addTask($event)">
  </add-task-modal>
</div>
