.task-row {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #6c63ff33;
  gap: 10px;
}

.task-row span {
  margin-left: 10px;
}

.task-row span.completed {
  text-decoration: line-through;
  color: gray;
  
}
.delete-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.delete-btn:hover {
  color: #6c63ff;
}
.task-row input[type="text"] {
  flex: 1;
  padding: 4px 8px;
  font-size: 16px;
}

